<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kasuo.trademark.dao.crawler.TrademarkDao">

    <insert id="save" parameterType="com.kasuo.trademark.domain.Trademark" useGeneratedKeys="true" keyProperty="id">
        INSERT ignore INTO
        trademark (category, registration_no, trademark, date, applicant, address, agent)
        VALUES
        (#{category}, #{registrationNo}, #{trademark}, #{date}, #{applicant}, #{address}, #{agent})
    </insert>
</mapper>